body {
    font-family: Arial, Helvetica, sans-serif;
}
html {
    font-size: 100%;
    display: flex;
    justify-content: center;
  }  
.head {
    display: flex;

}
body {
   width:  95% ;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    
}
.flex-container {
    padding: 10px 10px 10px 100px;
    display: flex;
    justify-content: space-between;

}

.blue {
    color: hwb(240 42% 10%);
}

.Logo {
    width: 40px;
    padding: 20px 20px;
    font-size: 20px;
}

ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.body {

    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3rem ;
   
    box-shadow: 0 1px 3px 0 rgba (0, 0, 0 0.1);

    background-color: hsl(204, 100%, 97%);
}

.box {
    padding-top: 1rem ;
    background-color:white;
    
}